@model ProjectsViewModel

    @section Styles {
        <link rel="stylesheet" href="~/css/project.css">
    }
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">


@{
    ViewData["Title"] = "My Projects";
}

<div class="text-center">
    <h1 class="display-4">John's Portfolio</h1>
    <p>Select one of my projects below to view, or <a href="https://www.linkedin.com/in/john-brooks-/" target="_blank">you can view my LinkedIn here</a> anytime.</p>
</div>
<br/>
<div class="container">
    @foreach (var project in Model.Projects)
    {
        <a href="@project.Route" style="text-decoration:none" target="_blank">
            <div class="card">
                <div class="projectTitle">
                    <h5 class="title">Name: @project.Name</h5>
                </div>
                <div class="projectInfo">
                <p>Synopsis: @project.Description</p>
                <p>Project Type: @project.Type</p>
                    <h5>Created by: @project.Creator</h5>
                </div>
                <div class="bar">
                    <div class="emptybar"></div>
                    <div class="filledbar"></div>
                </div>
            </div>
        </a>
    }
</div>

