@model ProjectsViewModel

    @section Styles {
        <link rel="stylesheet" href="~/css/project.css">
    }
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">


@{
    ViewData["Title"] = "My Projects";
}

<div class="text-center">
    <h1 class="display-4">John's Portfolio</h1>
    <p>Select one of my projects below to view.</p>
</div>
<br/>
<div class="container row">
    @foreach (var project in Model.Projects)
    {
    @*     <div class="col-3"> *@
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="@project.Route" style="text-decoration:none" target="_blank">
                <div class="card">
                    <div class="projectTitle">
                        <h5 class="title">@project.Name</h5>
                    </div>
                    <div class="projectInfo">
                        <p>@project.Description</p>
                        <p>@project.Type</p>
                        <p>Developers: @project.Creator</p>
                    </div>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

